<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="com.github.laaitq.fbw.terminal.MinestomConsoleWriter" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/latest.log</file>
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%level]: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="ConsoleLogger" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="FileLogger" level="TRACE" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
</configuration>